
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-nav">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <%= image_tag "flovelle.png", alt: "logo-navbar", width: 200 %>
        </a>
      </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "About Us", about_path %>
        </li>
        <li class="nav-item">
          <%= link_to "Subscriptions", flower_subscriptions_path %>
        </li>
        <li class="nav-item">
          <%= link_to "Our Farmers", flowers_path %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign In", new_user_session_path %>
        </li>
      </ul>
    </div>
  </div>
</nav>
