<div class="container-home">
  <section class="child-home page1">
    <div id="hero">
      <%= video_tag "lavender.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video"%>
    </div>

    <div class="header-home">
      <%= image_tag "whitelogo.png", width: 150, class: "header-img"%>
      <h1>Fresh Flowers, To Your Door, Every Week</h1>
      <i class="fas fa-chevron-down"></i>
    </div>
  </section>


  <section class="child-home page2">
    <div class="container-howitworks">
      <div class="background-howitworks" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1495231916356-a86217efff12?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=976&q=80);">
      </div>
      <div class="card-header">
        <h1>How it works</h1>
      </div>

      <div class="row">
          <div class="col-12 col-md-6 col-lg-4">
            <div class="card-trip">
              <div class="card-logo">
                <%= image_tag "farmer.png", width: 50, class: "card-img"%>
               </div>
              <div class="card-trip-infos">
                <div>
                  <h2>Select your seasonal flowers from our local growers</h2>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-4">
            <div class="card-trip">
              <div class="card-logo">
                <%= image_tag "delivery.png", width: 50, class: "card-img"%>
              </div>
              <div class="card-trip-infos">
                <div>
                  <h2>Your box of flowers will arrive with information on the local supplier</h2>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-4">
            <div class="card-trip">
              <div class="card-logo">
                <%= image_tag "Sunflower.png", width: 50, class: "card-img"%>
              </div>
              <div class="card-trip-infos">
                <div>
                  <h2>Enjoy your flowers and recycle your box on next delivery</h2>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="chevron">
        <i class="fas fa-chevron-down"></i>
      </div>
    </div>
  </section>

<section class="child-home page3">
  <div class="big-container">
    <div class="background-farmer" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1569880153113-76e33fc52d5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);">
    </div>

    <div class="home-farmer col-lg-6 col-sm-9 offset-md-6">
      <div class="container-booking">
        <h1>We choose the best flowers of the season for you to arrange at home.</h1>
        <div id="container-button">
          <a href="/flowers">
          <button class="learn-more">
            <span class="circle" aria-hidden="true">
              <span class="icon arrow"></span>
            </span>
            <span class="button-text">Our Flowers</span>
          </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="child-home page4">
  <div class="big-container">
    <div class="background-about" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/3932730/pexels-photo-3932730.jpeg?cs=srgb&dl=pexels-andrea-piacquadio-3932730.jpg&fm=jpg);">
    </div>

  <div class="home-about">
      <div class="container-booking col-lg-4 col-sm-9 offset-md-1">
        <h1>Bringing local growers to your door</h1>
        <div id="container-button">
          <a href="/about">
          <button class="learn-more">
            <span class="circle" aria-hidden="true">
              <span class="icon arrow"></span>
            </span>
            <span class="button-text">About Us</span>
          </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="child-home page5">

  <div class="wrapper-container">
    <%= image_tag "purplelogo.png", class: "logo-footer" %>
  </div>
  <%= render 'shared/footer' %>
</section>

</div>
