<div class="container-home">
  <section class="child-home page1">
    <div id="hero">
      <%= video_tag "lavender.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video"%>
    </div>

    <div class="header-home">
      <%= image_tag "whitelogo.png", width: 150, class: "header-img"%>
      <h1>Fresh Flowers, To Your Door, Every Week</h1>
      <i class="fas fa-chevron-down"></i>
    </div>
  </section>


  <section class="child-home page2">
    <div class="container-howitworks">
      <div class="card-header">
        <h3>How it works</h3>
      </div>

      <div class="row">
          <div class="col-12 col-md-6 col-lg-4">
            <div class="card-trip">
              <div class="card-logo">
                <%= image_tag "farmer.png", width: 50, class: "card-img"%>
               </div>
              <div class="card-trip-infos">
                <div>
                  <h2>Select your seasonal flowers from our local growers</h2>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-4">
            <div class="card-trip">
              <div class="card-logo">
                <%= image_tag "delivery.png", width: 50, class: "card-img"%>
              </div>
              <div class="card-trip-infos">
                <div>
                  <h2>Your box of flowers will arrive with information on the local supplier</h2>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-4">
            <div class="card-trip">
              <div class="card-logo">
                <%= image_tag "Sunflower.png", width: 50, class: "card-img"%>
              </div>
              <div class="card-trip-infos">
                <div>
                  <h2>Enjoy your flowers and recycle your box on next delivery</h2>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="chevron">
        <i class="fas fa-chevron-down"></i>
      </div>
    </div>
  </section>
</div>
