<div class="container">
  <div class="background-howitworks" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1469317835793-6d02c2392778?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80);">
  </div>

  <div class="payments-container col-md-6 col-sm-9 offset-lg-6 offset-md-3">
    <div class="row py-4">

      <div class="col">
        <h1>Checkout summary</h1>
        <div class="desciption-pay">
          <p>Purchase of a <strong>
            <% if @flower_subscription.frequency == 1 %>
              Monthly,
            <% elsif @flower_subscription.frequency == 2 %>
              Fortnightly,
            <% elsif @flower_subscription.frequency == 4 %>
              Weekly,
            <% end %>
            <%= @flower_subscription.size %> subscription</strong> for <strong><%= humanized_money_with_symbol(@flower_subscription.price_cents/100) %></strong>. Next Delivery on: <strong><%= @flower_subscription.delivery_date.strftime("%a") %>, <%= @flower_subscription.delivery_date.strftime("%d") %> <%= @flower_subscription.delivery_date.strftime("%b")%>.</strong></p>
        </div>
        <button id="pay" class="btn btn-primary">Pay</button>
        <script src="https://js.stripe.com/v3/"></script>
        <script>
          const paymentButton = document.getElementById('pay');
          paymentButton.addEventListener('click', () => {
            const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
            stripe.redirectToCheckout({
              sessionId: '<%= @flower_subscription.checkout_session_id %>'
            });
          });
        </script>
      </div>
    </div>
  </div>
</div>
