<div class="container-home">
  <div class="background-howitworks" style="background-image: linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,0.9)), url(https://i.pinimg.com/originals/f0/65/68/f06568c8a919314d0bf1d1c9f1ecb29f.jpg);">
  </div>
<div class="accounts-container">
  <div class="statistics-header">
    <h1>Statistics</h1>
    <hr>
    <div class="container" id="manager-data-container">
      <div class="row">
        <div class="col-lg-3 col-sm-12 farmer-column">
          <h1 class="manager-data">10</h1>
          <p class="manager-info">New Orders this week</p>
        </div>
        <div class="col-lg-3 col-sm-12 farmer-column">
          <h1 class="manager-data">15</h1>
          <p class="manager-info">New Users this month</p>
        </div>
        <div class="col-lg-3 col-sm-12 farmer-column">
          <h1 class="manager-data">42</h1>
            <p class="manager-info">Running Subscriptions</p>
        </div>
        <div class="col-lg-3 col-sm-12 farmer-column">
          <h1 class="manager-data">200</h1>
            <p class="manager-info">Revenue this month</p>
          <p></p>
        </div>
      </div>
    </div>
  </div>

  <div class="farmers-header">
    <h1>Farmers</h1>
    <hr>
    <div class="container">
      <div class="row">
        <% @suppliers.each do |supplier| %>
            <div class="col-lg-3 col-sm-9 farmer-card">
              <img src= <%= supplier.photo %>, class="farmer-round" />
              <p class="farmer-name"><%= supplier.name %></p>
              <div>
                <%= pluralize(supplier.orders_for, 'order') %><p>this week</p>
                </%>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="subscriptions-header">
    <h1>Subscriptions</h1>
    <hr>

  <div class="subscriptions">
        <div id="table-wrapper">
          <div id="table-scroll">
            <table>
                <thead>
                    <tr>
                        <th><span class="text">ID</span></th>
                        <th><span class="text">Price</span></th>
                        <th><span class="text">Frequency</span></th>
                        <th><span class="text">Issued</span></th>
                        <th><span class="text">User</span></th>
                        <th><span class="text">Edit/Delete</span></th>
                    </tr>
                </thead>
                <tbody>
                  <% @flower_subscriptions.each do |subscription| %>
                  <tr> <td><%= subscription.id %></td> <td>€<%=  subscription.price_cents / 100%></td> <td><%=subscription.frequency%></td> <td><%=subscription.created_at.to_date %></td> <td><%= @users.find(subscription.user_id).first_name %> <%= @users.find(subscription.user_id).last_name %></td> <td id="edit-links"><%= link_to "Edit", edit_flower_subscription_path(subscription.id) %> / Delete</td></tr>
                  <% end %>
                </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
</div>
</div>
