

<div class="container">
  <div class="row" style="margin-top: 200px">


    <% if @order %>
    <div class="subscription-card-container col-9">
      <h3> <strong> My Subscription </strong> </h3>
      <div class="card-product ">
        <img src="https://images.unsplash.com/photo-1577090727079-a854293d7cd6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" />
        <div class="card-product-infos">
          <p><strong> Your subscription</strong></p>
          <p id="black-p"> A <%=@order.size%> bouquet
            <% if @order.frequency == 1 %>
              once a month
            <% elsif @order.frequency == 2 %>
              twice a month
            <% else %>
              once a week
            <% end %>
            <p>Next Delivery on: <%= @delivery.strftime("%a") %>, <%= @delivery.strftime("%d") %> <%= @delivery.strftime("%b") %></p>
            </p>
        </div>
      </div>
      <% else %>
      <% end %>

      <form method="patch" action="flower_subscriptions/<%=current_user.flower_subscriptions.first.id%>/edit" class="button_to">
        <div>
          <input class="order-button" value="Edit" type="submit" />
        </div>
      </form>
    </div>

    <div class="subscription-status-container col-3">
      <h3> <strong> Status </strong> </h3>
      <div class="status-petal ">
        <% case @order.state %>
       <% when "received"%>
         <%= image_tag "Flower_status/Status_1.png"%>
       <% when @order.delivery_date.to_date - Date.today.to_date == 3.days %>
         <%= image_tag "Flower_status/Status_2.png"%>
       <% when @order.delivery_date.to_date - Date.today.to_date == 2.days %>
         <%= image_tag "Flower_status/Status_3.png"%>
       <% when @order.delivery_date.to_date - Date.today.to_date == 1.days %>
         <%= image_tag "Flower_status/Status_4.png"%>
       <% when @order.state = "delivered" %>
         <%= image_tag "Flower_status/Status_5.png"%>
       <% else %>
         <%= image_tag "Flower_status/Status_1.png"%>
       <% end %>
      </div>
    </div>

     <div class="simple-container col-6">
      <div class="simple-calendar">

        <%= month_calendar(attribute: :delivery_date, events: @bookings)  do |date, bookings| %>

        <%= date.day %>
        <% if date.day == @delivery.day %>
        <div>
          <%= image_tag "blume.png", width: 30, class: "delivery-icon"%>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-6 account-column">
      <h3> <strong> Personal Information </strong> </h3>
      <div class="account-description">
        <form method="patch" action="accounts/<%=current_user.id%>/edit" class="button_to">
          <div>
            <input class="order-button" value="Edit" type="submit" />
          </div>
        </form>
        <div class="border-bottom">
          <p> <strong> Name </strong> </p>
          <p id="black-p"><i class="fas fa-user"></i> <%= current_user.first_name %> <%= current_user.last_name %></p>
        </div>
        <div class="border-bottom">
          <p> <strong> E-Mail </strong> </p>
          <p id="black-p"><i class="fas fa-envelope"></i> <%=current_user.email%></p>
        </div>
        <div class="border-bottom">
          <p> <strong> Phone Number </strong> </p>
          <p id="black-p"><i class="fas fa-phone-alt"></i> <%= current_user.phone_number %></p>
        </div>
        <div class="border-bottom">
          <p> <strong> Address </strong> </p>
          <p> <%= @start_time %>
          <p id="black-p"><i class="fas fa-map-marker-alt"></i> <%=current_user.address%>, <%=current_user.zipcode%></p>
        </div>
      </div>
    </div>
  </div>
</div>
