<div class="container">
  <div class="row">
    <div class="column">
      <h3> <strong> Personal Information </strong> </h3>
      <div class="border-bottom">
        <p> <strong> Name </strong> </p>
        <p><%=current_user.name%></p>
      </div>
      <div class="border-bottom">
        <p> <strong> E-Mail </strong> </p>
        <p><%=current_user.email%></p>
      </div>
      <div class="border-bottom">
        <p> <strong> Phone Number </strong> </p>
        <p>+48 76 4278 3829</p>
      </div>
      <div class="border-bottom">
        <p> <strong> Adress </strong> </p>
        <p><%=current_user.address%></p>
      </div>
      <div class="border-bottom">
        <p> <strong> ZIP </strong> </p>
        <p><%=current_user.zipcode%></p>
      </div>
      <div class="border-bottom">
       <p><%=current_user.flower_subscriptions.first.size%><p>
        <p><%=current_user.flower_subscriptions.first.frequency%><p>
        </div>
      </div>
      <div class="column">
        <div class="simple-calendar">
          <%= month_calendar do |date| %>
          <%= date.day %>
          <% end %>
        </div>
      </div>
    </div>
</div>
